# Ignore terraform binaries
terraform/.terraform

# Ignore terraform lock
*.lock.hcl

# Ignore terraform state
terraform.tfstate
terraform.tfstate.backup

# Ignore logs
game/addons/sourcemod/logs
game/addons/sourcemod/data
